$accent-color: #c23616;

* {
    margin: 0;
    padding: 0;

    font-size: 18px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;

    flex-direction: column;

    font-family: 'Schoolbell', cursive;
}

header, footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;

    font-size: 32px;
    border-bottom: 1px solid black;
    color: $accent-color;

    .tag {
        font-size: 16px;
        color: black;
    }
}

.main {
    height: 80%;

    display: flex;
    flex-direction: row;

    .sidebar {
        width: 35%;
        border-right: 1px solid black;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        .profile-image {
            border-radius: 50%;
            border: 1px solid black;

            padding: 16px;

            width: 150px;
        }

        .social {
            padding: 24px 0;

            a {
                margin: 0 8px;
                
                &:hover {
                    cursor: pointer;
                    
                    .icon {
                        transform: scale(1.5);
                    }
                }
                
                .icon {
                    transition: transform 0.2s ease-in-out;
                    width: 24px;
                }
            }
        }

        .menu {
            a {
                text-decoration: none;
                padding-right: 8px;
                border-right: 1px solid rgba(0, 0, 0, 0.2);

                &:first-of-type {
                    border-color: black;
                }

                &:last-of-type {
                    border: none;
                }

                &.all {
                    color: $accent-color;
                }
            }
        }
    }

    .content-wrapper {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 56px;

    }

    background-image: url('/assets/images/footer.png');
}

footer {
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
