$accent-color: #c23616;

.post {
    margin: 24px 0;

    h1 {
        font-size: 32px;
        color: $accent-color;
        margin-bottom: 16px;
    }

    a.title {
        color: inherit;
        &::before, &::after {
            content: none;
        }
    }

    .entry {
        .learn-more {
            font-size: 12px;
            color: #333;
        }
    }

    .date {
        font-size: 14px;
        text-decoration: wavy;
        margin-top: 12px;
    }
}

.pagination {
    margin-top: 24px;
}
