---
import { SITE } from '../consts';
---

<footer class="footer">
  <div class="squiggly-line">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none">
      <path d="M0 10 C 5 0, 15 20, 25 10 S 35 0, 45 10 S 55 20, 65 10 S 75 0, 85 10 S 95 20, 100 10" stroke="none" fill="black" />
    </svg>
  </div>
  <div class="footer-content">
    {SITE.company} &copy; 2021 by {SITE.author}
  </div>
</footer>
