---
import { SITE, getBase } from '../consts';
const base = getBase();
---

<header>
  <a href={base}>
    {SITE.name}
    <div class="tag">{SITE.tagline}</div>
  </a>
  <div class="header-squiggly-line">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none">
      <path d="M0 10 C 10 0, 20 20, 30 10 S 50 10, 60 20, 80 0, 100 10" stroke="currentColor" fill="transparent" stroke-width="2"/>
    </svg>
  </div>
</header>
