---
layout: default
---

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    {% if category_name == page.title %}
        {% for post in site.categories[category_name] %}
            <article class="post">
                <a href="{{ post.url | relative_url }}" class="title"> <h1> >> {{ post.title }} </h1> </a>
            
                <div class="entry">
                {{ post.excerpt }} <span class="learn-more">learn more...</span>
                </div>
            
                <div class="date">
                {{ post.date | date: "%B %e, %Y" }}
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endfor %}
