<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" media="screen" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
        squiggly lines
        <div class="tag">perfectly imperfect</div>
    </header>

    <div class="main">
        <div class="sidebar">
            <div class="">
                <img src="/assets/images/cool.png" />
            </div>
            <div class="social">
                <span>instagram</span>
                <span>github</span>
                <span>email</span>
            </div>
            <div class="menu">
                <a href="/about">about</a>
                <a href="/art">art</a>
                <a href="/tech">tech</a>
            </div>
        </div>
        
        <div class="content-wrapper">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

    <footer class="footer">
        @saanostory ink. &copy; 2021
    </footer>

  </body>
</html>
