<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}" media="screen" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&family=Comforter+Brush&family=Mansalva&family=Schoolbell&family=Comic+Neue&display=swap" rel="stylesheet">
    <title>{{ site.name }}</title>
  </head>

  <body>
    <header>
        <a href="{{ '/' | relative_url }}">
            {{ site.name }}
            <div class="tag">{{ site.tagline }}</div>
        </a>
    </header>

    <div class="main">
        <div class="sidebar">
            <div class="">
                <a href="{{ '/' | relative_url }}"><img class="profile-image" src="{{ '/assets/images/cool.png' | relative_url }}" /></a>
            </div>
            <div class="social">
                <a href="{{ site.instagram }}"><img class="icon insta" src="{{ '/assets/images/icons/insta.png' | relative_url}}" alt="instagram"></img></a>
                <a href="{{ site.github }}"><img class="icon github" src="{{ '/assets/images/icons/github.png' | relative_url}}" alt="github"></img></a>
                <a href="{{ site.website }}"><img class="icon website" src="{{ '/assets/images/icons/web.png' | relative_url}}" alt="website"></img></a>
                <a href="{{ site.email }}"><img class="icon email" src="{{ '/assets/images/icons/email.png' | relative_url}}" alt="email"></img></a>
                <a href="{{ site.linkedin }}"><img class="icon email" src="{{ '/assets/images/icons/linkedin.png' | relative_url}}" alt="linkedin"></img></a>
            </div>
            <div class="menu">
                <a href="{{ '/blog'  | relative_url }}" class="all">all</a>
                <a href="{{ '/art'  | relative_url }}">art</a>
                <a href="{{ '/dev'  | relative_url }}">dev</a>
                <a href="{{ '/make'  | relative_url }}">make</a>
                <a href="{{ '/misc'  | relative_url }}">misc</a>
            </div>
        </div>
        
        <div class="content-wrapper">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="squiggly-line">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20" preserveAspectRatio="none">
                <path d="M0 10 C 5 0, 15 20, 25 10 S 35 0, 45 10 S 55 20, 65 10 S 75 0, 85 10 S 95 20, 100 10" stroke="none" fill="black" />
            </svg>            
        </div>
        <div class="footer-content">
            {{ site.company }} &copy; 2021 by {{ site.author }}
        </div>
    </footer>
  </body>
</html>
