<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" media="screen" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&family=Comforter+Brush&family=Mansalva&family=Schoolbell&family=Comic+Neue&display=swap" rel="stylesheet">

  </head>

  <body>
    <header>
        {{ site.name }}
        <div class="tag">{{ site.tagline }}</div>
    </header>

    <div class="main">
        <div class="sidebar">
            <div class="">
                <img src="{{ '/assets/images/cool.png' | relative_url }}" />
            </div>
            <div class="social">
                <span><a href="{{ site.instagram }}">instagram</a></span>
                <span><a href="{{ site.github }}">github</a></span>
                <span><a href="{{ site.email }}">email</a></span>
            </div>
            <div class="menu">
                <a href="{{ '/blog'  | relative_url }}">blog</a>
                <a href="{{ '/art'  | relative_url }}">art</a>
                <a href="{{ '/tech'  | relative_url }}">tech</a>
                <a href="{{ '/misc'  | relative_url }}">misc</a>
            </div>
        </div>
        
        <div class="content-wrapper">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>

    <footer class="footer">
        {{ site.company }} &copy; 2021 by {{ site.author }}
    </footer>

  </body>
</html>
